/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    height: 10vh;
}

.navbar-nav .dropdown-menu {
    margin-bottom: 1rem;
}

/* Main */
.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
                        "img1 img2"
                        "img3 img4"
                        "img5 img6"
                        "img7 img7";
    column-gap: 1rem;
    padding: 1rem;
}

.img1 {
    grid-area: img1;
    border: 1px solid #000;
    box-shadow: 2px 2px #000;
    margin-bottom: 1rem;
    background:url(../img/deporte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    color: #fff;
}

.container p {
    color: #000;
    font-size: 1rem;  
    padding-top: 8rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.img2 {
    grid-area: img2;
    border: 1px solid #000;
    margin-bottom: 1rem;
    text-align: center;
    background-color: rgb(196, 147, 241);
}

.img3 {
    grid-area: img3;
    border: 1px solid #000;
    margin-bottom: 1rem;
    text-align: center;
    background-color: rgb(196, 147, 241);
}

.img4 {
    grid-area: img4;
    border: 1px solid #000;
    text-align: center;
    margin-bottom: 1rem;
    background-color: rgb(196, 147, 241);
}

.img5 {
    grid-area: img5;
    border: 1px solid #000;
    text-align: center;
    background-color: rgb(196, 147, 241);
}

.img6 {
    grid-area: img6;
    border: 1px solid #000;
    text-align: center;
    background-color: rgb(196, 147, 241);
}

.img7 {
    grid-area: img7;
    border: 1px solid #000;
    text-align: center;
    margin-top: 1rem;
    background-color: rgb(147, 202, 241);
}

/* Seccion Imagenes */
.seccion2 {
    display: flex;
    justify-content: space-around;   
}

.imgIzq {
    border: 1px solid #000;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: rgb(64, 174, 252);
}

.imgDer {
    border: 1px solid #000;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: rgb(64, 174, 252);
}

.nav {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 2rem;
    background-color: aliceblue;

}

/* Seccion Map */

.navegTitleA {
    text-decoration: none;
    color: #000;
}

.navegaTitle {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 2.5rem;
    
}

.navegaTitle:hover {
    color: rgb(242, 118, 118);
    font-size: 3rem;
}

.seccionMap {
    margin-top: 4rem;
    text-align: center;
}

/* Footer */
.Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(137, 136, 136);
    margin-top: 1rem;
    padding: 1rem;
}

.FooterP p{
    color: aliceblue;
    font-size: 1.2rem;
}
